[tool.black]
line-length = 88
target-version = ["py312"]
include = '\.pyi?$'
exclude = '''
(
  \.git
  | \.venv
  | build
  | dist
)
'''

[tool.mypy]
python_version = 3.12
ignore_missing_imports = true
warn_return_any = false
warn_unused_configs = false
